
.bi::before {
  font-size: 150px;
  color: rgb(0, 0, 0);
}
#weather .form-control {
  width: 75%;
  border-radius:50px;
  background-color: rgba(0, 0, 0, 0);
}
#weather h1{
  font-size: 60px;
  font-weight: 300;
}
#weather h6 {
  font-size: small;
  font-weight: bolder;
}
